/**llamado de archivos de base*/
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 14px; }

h1,
h2,
h3,
a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style: normal; }

p {
  font-family: "Permanent Marker", cursive; }

h1 {
  text-align: center; }

.titulos {
  background-color: #041562;
  text-align: center;
  color: white;
  top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  border: 1px solid black;
  border-radius: 20px;
  width: 150vh;
  position: relative;
  left: 25px;
  top: 90px; }

footer {
  position: relative;
  bottom: 220px;
  width: 100%; }

.barra-navegacion {
  position: relative;
  left: 750px; }

.navbar-toggler {
  position: relative;
  right: 1100px; }

.navbar-toggler-icon {
  position: relative;
  left: 0px; }

/**llamado de layout*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 14px; }
  header .barra-navegacion {
    display: flex;
    width: 80%;
    flex-wrap: nowrap;
    list-style: none;
    margin: 5px;
    padding: 15px;
    overflow: hidden;
    gap: 1.25rem;
    background-color: rgba(175, 173, 170, 0.524);
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    left: 50px;
    top: .3125rem;
    justify-content: center;
    align-items: center; }
    header .barra-navegacion li a {
      float: left;
      text-decoration: none;
      color: black;
      list-style-type: none;
      padding-inline-start: 10px;
      font-weight: bold;
      font-size: 24px; }

.header-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 14px;
  background-color: #90a7c7; }

.general {
  width: 100%;
  background-image: url(../assets/img/local1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.573); }
  .general .section-principal {
    width: fit-content;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat; }
    .general .section-principal div {
      width: fit-content; }
    .general .section-principal .logo {
      width: 30%;
      height: auto;
      margin: 2px;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 20px;
      position: relative;
      top: 100px;
      left: 350px; }
    .general .section-principal .ultimo-ingreso {
      width: 21.875rem;
      height: auto;
      background-color: yellow;
      color: red;
      text-align: center;
      border: 1px solid black;
      border-radius: 20px;
      position: relative;
      top: 570px;
      left: 400px; }
    .general .section-principal .img-ultimo-ingreso {
      width: 45%;
      height: auto;
      border: 1px solid black;
      border-radius: 20px;
      display: flexbox;
      position: relative;
      top: 80px;
      left: 300px; }
  .general .boton-principal {
    display: flex;
    margin-bottom: 10px;
    position: relative;
    bottom: 200px;
    left: 730px;
    width: min-content; }
    .general .boton-principal .km, .general .boton-principal .usados, .general .boton-principal .contacto, .general .boton-principal .nosotros {
      width: 250px;
      height: 100px;
      border: 1px solid black;
      border-radius: 20px;
      position: relative;
      bottom: 300px;
      left: 315px;
      border-width: 4px;
      color: white;
      background-image: url(../assets/img/boton-0km.png);
      background-size: cover;
      background-position: center;
      cursor: pointer;
      font-size: 20px; }
      .general .boton-principal .km:hover, .general .boton-principal .usados:hover, .general .boton-principal .contacto:hover, .general .boton-principal .nosotros:hover {
        opacity: 0.7;
        color: black;
        font-size: 18px; }
    .general .boton-principal .usados {
      position: relative;
      bottom: 250px;
      left: 270px;
      background-image: url(../assets/img/boton-usado.png); }
    .general .boton-principal .contacto, .general .boton-principal .nosotros {
      position: relative;
      bottom: 200px;
      left: 310px;
      background-image: url(../assets/img/boton-contacto.png);
      background-size: 40%;
      background-repeat: no-repeat; }
    .general .boton-principal .nosotros {
      position: relative;
      bottom: 150px;
      left: 260px;
      background-image: url(../assets/img/boton-nosotros.png); }
  .general footer {
    position: relative;
    top: 210px; }
    .general footer .pie-index {
      width: 100%;
      height: 15.625rem;
      position: relative;
      background-color: #c60d0d; }
      .general footer .pie-index .pie-link {
        width: 40%;
        height: 13.75rem;
        position: relative;
        top: .9375rem;
        left: 1.25rem; }
      .general footer .pie-index .datos-pie {
        position: relative;
        left: 740px;
        bottom: 150px;
        width: fit-content; }
        .general footer .pie-index .datos-pie p {
          color: #11119b;
          border: black;
          position: relative;
          left: 150px;
          bottom: 50px;
          width: fit-content; }
        .general footer .pie-index .datos-pie .dir {
          width: 40px;
          height: auto;
          position: relative;
          left: 3.125rem;
          bottom: 20px; }
        .general footer .pie-index .datos-pie .tel {
          width: 40px;
          height: auto;
          position: relative;
          left: 50px;
          bottom: 20px; }

.section-0km {
  background-image: url(../assets/img/fondo-ok.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 56.25rem;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.573); }
  .section-0km .container-fluid {
    position: relative;
    right: 300px;
    top: 50px;
    width: fit-content; }
  .section-0km .row {
    display: flex;
    width: fit-content; }
  .section-0km .col {
    display: flex;
    width: min-content; }
  .section-0km .marcas {
    width: 21.875rem;
    height: 25rem;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    bottom: 250px;
    left: 800px;
    text-align: center; }
    .section-0km .marcas .mercedes {
      position: relative;
      top: 30px;
      left: 10px; }
    .section-0km .marcas .bmw {
      position: relative;
      top: 50px;
      left: 50px; }
    .section-0km .marcas .kia {
      position: relative;
      top: 120px;
      right: 100px; }
    .section-0km .marcas .ford {
      position: relative;
      top: 160px;
      right: 10px; }
    .section-0km .marcas .renault {
      position: relative;
      top: 230px;
      right: 200px; }
    .section-0km .marcas .citroen {
      position: relative;
      top: 250px; }

.pie-index-0km {
  width: 100%;
  height: 250px;
  background-color: #c60d0d;
  position: relative;
  top: 0; }
  .pie-index-0km .pie-link {
    width: 40%;
    height: 13.75rem;
    position: relative;
    top: .9375rem;
    left: 1.25rem; }
  .pie-index-0km .datos-pie {
    position: relative;
    left: 56.25rem;
    bottom: 3.125rem;
    width: fit-content; }
    .pie-index-0km .datos-pie p {
      color: #11119b;
      border: black;
      position: relative;
      left: 9.375rem;
      bottom: 10rem;
      width: fit-content; }
    .pie-index-0km .datos-pie .dir {
      width: 40px;
      height: auto;
      position: relative;
      left: 3.125rem;
      bottom: 8.75rem; }
    .pie-index-0km .datos-pie .tel {
      width: 40px;
      height: auto;
      position: relative;
      left: 50px;
      bottom: 130px; }

.main-usados {
  background-image: url(../assets/img/usado2.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.573); }

.ultimo-ingreso-usados {
  width: 31.25rem;
  height: auto;
  background-color: yellow;
  color: red;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
  top: 150px;
  left: 170px; }
  .ultimo-ingreso-usados .usado-principal {
    width: 28.125rem;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
    position: relative; }
  .ultimo-ingreso-usados .usado-min1 {
    width: 9.375rem;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
    position: relative; }
  .ultimo-ingreso-usados .usado-min2 {
    width: 9.375rem;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
    position: relative; }
  .ultimo-ingreso-usados .usado-min3 {
    width: 9.375rem;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
    position: relative; }

.otros-usados {
  width: 31.25rem;
  height: 34.375rem;
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  left: 870px;
  bottom: 420px;
  background-color: aquamarine;
  text-align: center; }
  .otros-usados .grid-usados {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 0.65fr);
    gap: 10px; }
    .otros-usados .grid-usados .usado {
      overflow: hidden;
      border-radius: 30px;
      border: 2px solid black;
      align-items: center;
      object-fit: contain; }
      .otros-usados .grid-usados .usado img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-items: center;
        display: block; }
        .otros-usados .grid-usados .usado img:hover {
          opacity: 0.5; }

.pie-index-usados {
  width: 100%;
  height: 15.625rem;
  position: relative;
  background-color: #c60d0d; }
  .pie-index-usados .pie-link {
    width: 40%;
    height: 13.75rem;
    position: relative;
    top: .9375rem;
    left: 1.25rem; }
  .pie-index-usados .datos-pie {
    position: relative;
    left: 56.25rem;
    bottom: 3.125rem;
    width: fit-content; }
    .pie-index-usados .datos-pie p {
      color: #11119b;
      border: black;
      position: relative;
      left: 9.375rem;
      bottom: 10rem;
      width: fit-content; }
    .pie-index-usados .datos-pie .dir {
      width: 40px;
      height: auto;
      position: relative;
      left: 3.125rem;
      bottom: 8.75rem; }
    .pie-index-usados .datos-pie .tel {
      width: 40px;
      height: auto;
      position: relative;
      left: 50px;
      bottom: 130px; }

.main-contacto .formulario {
  width: 25rem;
  height: 30rem;
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  left: 100px;
  top: 50px;
  background-color: rgba(192, 184, 174, 0.578);
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 5px; }

.main-contacto .donde-encontrarnos {
  width: 50vh;
  height: 300px;
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  left: 750px;
  bottom: 360px;
  background-color: rgba(148, 154, 217, 0.578);
  text-align: center;
  color: black; }
  .main-contacto .donde-encontrarnos .titulo-donde {
    background-color: #041562;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    color: red;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%; }

.pie-index-contacto {
  width: 100%;
  height: 15.625rem;
  position: relative;
  top: 150px;
  background-color: #c60d0d; }
  .pie-index-contacto .pie-link {
    width: 40%;
    height: 13.75rem;
    position: relative;
    top: .9375rem;
    left: 1.25rem; }
  .pie-index-contacto .datos-pie {
    position: relative;
    left: 56.25rem;
    bottom: 3.125rem;
    width: fit-content; }
    .pie-index-contacto .datos-pie p {
      color: #11119b;
      border: black;
      position: relative;
      left: 9.375rem;
      bottom: 10rem;
      width: fit-content; }
    .pie-index-contacto .datos-pie .dir {
      width: 40px;
      height: auto;
      position: relative;
      left: 3.125rem;
      bottom: 8.75rem; }
    .pie-index-contacto .datos-pie .tel {
      width: 40px;
      height: auto;
      position: relative;
      left: 50px;
      bottom: 130px; }

.main-nosotros {
  background-color: #90a7c7;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  height: 85vh; }
  .main-nosotros .titulo-nosotros {
    background-color: #041562;
    text-align: center;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    width: 80%;
    position: relative;
    top: 40px; }
  .main-nosotros .bio-empresa {
    margin-top: 5px;
    background-color: rgba(147, 168, 199, 0.575);
    padding: 80px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    border-radius: 20px;
    width: 80%;
    position: relative;
    top: 70px; }
    .main-nosotros .bio-empresa p {
      text-align: left;
      margin-left: 5%;
      margin-right: 5%;
      padding-left: 1%;
      padding-right: 5%;
      font-size: 20px; }

.pie-index-nosotros {
  width: 100%;
  height: 250px;
  background-color: #c60d0d;
  position: relative;
  top: 220px; }
  .pie-index-nosotros .pie-link {
    width: 40%;
    height: 13.75rem;
    position: relative;
    top: .9375rem;
    left: 1.25rem; }
  .pie-index-nosotros .datos-pie {
    position: relative;
    left: 56.25rem;
    bottom: 3.125rem;
    width: fit-content; }
    .pie-index-nosotros .datos-pie p {
      color: #11119b;
      border: black;
      position: relative;
      left: 9.375rem;
      bottom: 10rem;
      width: fit-content; }
    .pie-index-nosotros .datos-pie .dir {
      width: 40px;
      height: auto;
      position: relative;
      left: 3.125rem;
      bottom: 8.75rem; }
    .pie-index-nosotros .datos-pie .tel {
      width: 40px;
      height: auto;
      position: relative;
      left: 50px;
      bottom: 130px; }

/**llamado de componentes*/
#carouselExampleIndicators {
  width: 500px;
  height: 300px; }

.bg-custom-color {
  background-color: #faf4f400;
  color: red; }

/**llamado de query*/
@media (max-width: 1920px) {
  .navbar-toggler {
    position: relative;
    right: 1370px; }
  /**media 0km*/
  .section-0km .marcas {
    position: relative;
    left: 950px; } }

@media (max-width: 1440px) {
  .navbar-toggler {
    position: relative;
    right: 1070px; } }

@media (max-width: 1024px) {
  .navbar-toggler {
    position: relative;
    right: 800px; }
  header .barra-navegacion {
    width: 80%;
    position: relative;
    left: 100px;
    display: flex; }
    header .barra-navegacion li a {
      font-size: 20px;
      margin-left: 0;
      margin-right: 0; }
  .titulos {
    width: 80%; }
  /** media del index*/
  .general {
    background-size: cover; }
    .general .section-principal div {
      position: relative;
      right: 80px;
      top: 30px; }
    .general .section-principal .ultimo-ingreso {
      position: relative;
      left: 250px;
      top: 550px; }
    .general .boton-principal {
      position: relative;
      left: 450px;
      bottom: 110px; }
    .general .pie-index {
      position: relative;
      top: 20px; }
  /** media de 0km*/
  .section-0km .container-fluid {
    position: relative;
    right: 150px; }
  .section-0km .marcas {
    position: relative;
    left: 600px; }
  .pie-index-0km .datos-pie {
    position: relative;
    left: 600px; }
  /**media de usados*/
  .ultimo-ingreso-usados {
    position: relative;
    left: 50px; }
    .ultimo-ingreso-usados .usado-principal {
      width: 400px; }
  .otros-usados {
    width: 400px;
    position: relative;
    left: 590px;
    bottom: 370px; }
  .pie-index-usados .datos-pie {
    position: relative;
    left: 700px; }
  /**media de contacto*/
  .main-contacto .donde-encontrarnos {
    position: relative;
    left: 580px; }
  .main-contacto .formulario {
    position: relative;
    left: 75px; }
  .pie-index-contacto .datos-pie {
    position: relative;
    left: 600px; }
  /**media de nosotros*/
  .main-nosotros .bio-empresa {
    width: 85%;
    position: relative;
    left: 0px;
    top: 50px; }
  .main-nosotros .titulo-nosotros {
    width: 85%;
    position: relative;
    left: 0px; }
  .pie-index-nosotros {
    position: relative;
    top: 210px; }
    .pie-index-nosotros .datos-pie {
      position: relative;
      left: 500px; } }

@media (max-width: 768px) {
  .navbar-toggler {
    position: relative;
    right: 575px; }
  /** media del index*/
  .general .barra-navegacion {
    width: 80%;
    display: flex;
    left: 100px; }
    .general .barra-navegacion li a {
      font-size: 20px;
      margin-left: 0;
      margin-right: 0; }
  .general .section-principal .logo {
    position: relative;
    left: 180px; }
  .general .section-principal .img-ultimo-ingreso {
    position: relative;
    left: 200px; }
  .general .section-principal .ultimo-ingreso {
    position: relative;
    left: 110px;
    top: 450px; }
  .general .boton-principal {
    position: relative;
    left: 170px;
    bottom: 10px; }
  .general footer .pie-index .datos-pie {
    position: relative;
    left: 450px; }
  /**media de 0km*/
  .section-0km .marcas {
    width: 250px;
    position: relative;
    left: 490px; }
    .section-0km .marcas .renault {
      position: relative;
      right: 40px; }
  .pie-index-0km .datos-pie {
    position: relative;
    left: 400px; }
  /**media de usados*/
  .ultimo-ingreso-usados {
    position: relative;
    left: 150px;
    top: 60px; }
  .otros-usados {
    height: auto;
    position: relative;
    left: 200px;
    bottom: 0px;
    top: 80px; }
  .pie-index-usados {
    position: relative;
    top: 500px; }
    .pie-index-usados .datos-pie {
      position: relative;
      left: 400px; }
  /**media de contacto*/
  .main-contacto .formulario {
    width: max-content;
    height: max-content;
    padding-left: 1px;
    position: relative;
    left: 20px;
    top: 70px; }
  .main-contacto .donde-encontrarnos {
    width: 40vh;
    position: relative;
    left: 420px; }
  .pie-index-contacto .datos-pie {
    position: relative;
    left: 400px; }
  /**media de nosotros*/
  .header-nosotros {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .main-nosotros .titulo-nosotros {
    position: relative;
    top: 30px; }
  .main-nosotros .bio-empresa {
    position: relative;
    top: 40px;
    padding: 30px; }
  .pie-index-nosotros {
    position: relative;
    top: 220px; }
    .pie-index-nosotros .datos-pie {
      position: relative;
      left: 400px; } }

@media (max-width: 425px) {
  .navbar-toggler {
    position: relative;
    right: 330px; }
  /** media del index*/
  .general {
    background-image: url(../assets/img/local3.jpg);
    background-size: cover; }
    .general .barra-navegacion {
      width: fit-content;
      height: 60px;
      position: relative;
      left: 0px;
      top: 0px; }
      .general .barra-navegacion li a {
        display: none; }
    .general .section-principal .logo {
      width: 40%;
      position: relative;
      top: 0;
      left: 320px; }
    .general .section-principal .img-ultimo-ingreso {
      position: relative;
      top: 0;
      left: 270px; }
    .general .section-principal .ultimo-ingreso {
      top: 10px; }
    .general .boton-principal {
      position: relative;
      left: 0px;
      top: 400px; }
      .general .boton-principal .km, .general .boton-principal .usados, .general .boton-principal .contacto, .general .boton-principal .nosotros {
        position: relative;
        left: 80px; }
      .general .boton-principal .usados {
        position: relative;
        left: 80px; }
      .general .boton-principal .contacto, .general .boton-principal .nosotros {
        position: relative;
        left: 80px; }
      .general .boton-principal .nosotros {
        position: relative;
        left: 80px; }
    .general footer .pie-index {
      position: relative;
      top: 40px; }
      .general footer .pie-index .datos-pie {
        position: relative;
        left: 170px; }
        .general footer .pie-index .datos-pie p {
          position: relative;
          left: 110px;
          bottom: 20px; }
  /** media de 0km*/
  .header-0km .barra-navegacion, .header-usados .barra-navegacion, .header-contacto .barra-navegacion, .header-nosotros .barra-navegacion {
    width: fit-content;
    height: 60px;
    position: relative;
    left: 0px;
    top: 0px; }
    .header-0km .barra-navegacion li a, .header-usados .barra-navegacion li a, .header-contacto .barra-navegacion li a, .header-nosotros .barra-navegacion li a {
      display: none; }
  .section-0km .container-fluid {
    width: fit-content; }
    .section-0km .container-fluid .row {
      width: 80%;
      position: relative;
      left: 170px;
      top: 40px; }
    .section-0km .container-fluid .col {
      width: 80%; }
    .section-0km .container-fluid .carousel-inner {
      width: 85%; }
  .section-0km .marcas {
    position: relative;
    left: 90px;
    top: 100px; }
  .pie-index-0km {
    position: relative;
    top: 300px; }
    .pie-index-0km .datos-pie {
      position: relative;
      left: 170px;
      bottom: 0px;
      top: 0px; }
      .pie-index-0km .datos-pie p {
        position: relative;
        left: 100px; }
  /**media de usados*/
  .header-usados .titulos {
    width: 100%;
    position: relative;
    left: 60px; }
  .ultimo-ingreso-usados {
    width: 350px;
    position: relative;
    left: 50px;
    top: 90px;
    align-items: center; }
    .ultimo-ingreso-usados h2 {
      width: fit-content;
      position: relative;
      left: 90px; }
    .ultimo-ingreso-usados .usado-principal {
      width: 275px; }
    .ultimo-ingreso-usados .usado-min1 {
      width: 100px;
      position: relative;
      right: 10px; }
    .ultimo-ingreso-usados .usado-min2 {
      width: 100px;
      position: relative;
      right: 5px; }
    .ultimo-ingreso-usados .usado-min3 {
      width: 100px;
      position: relative; }
  .otros-usados {
    position: relative;
    left: 10px;
    top: 100px; }
  .pie-index-usados {
    position: relative;
    top: 350px; }
    .pie-index-usados .datos-pie {
      position: relative;
      left: 200px; }
      .pie-index-usados .datos-pie p {
        position: relative;
        left: 100px; }
  /** media de contacto*/
  .header-contacto .titulos {
    width: 100%;
    position: relative;
    left: 60px; }
  .main-contacto .formulario {
    width: 90%;
    height: auto;
    position: relative;
    left: 10px; }
  .main-contacto .donde-encontrarnos {
    position: relative;
    left: 35px;
    top: 100px; }
  .pie-index-contacto {
    width: 100%;
    position: relative;
    top: 450px; }
    .pie-index-contacto .datos-pie {
      position: relative;
      left: 200px;
      bottom: 50px; }
      .pie-index-contacto .datos-pie p {
        font-size: 12px;
        position: relative;
        left: 50px;
        bottom: 130px; }
  /**media de nosotros*/
  .main-nosotros {
    height: 100vh; }
    .main-nosotros .titulo-nosotros {
      position: relative;
      top: 0px; }
    .main-nosotros div {
      width: 100%;
      position: relative;
      bottom: 0px;
      top: 70px; }
      .main-nosotros div .titulo-nosotros {
        width: 90%;
        font-size: 20px; }
    .main-nosotros .bio-empresa {
      width: 85%;
      position: relative;
      top: 10px; }
      .main-nosotros .bio-empresa p {
        width: 100%;
        font-size: 16px; }
  footer {
    position: relative;
    top: 0px;
    bottom: 0px; }
    footer .pie-index-nosotros {
      position: relative;
      top: 0px; }
      footer .pie-index-nosotros .datos-pie {
        position: relative;
        left: 230px;
        bottom: 50px; }
        footer .pie-index-nosotros .datos-pie p {
          font-size: 12px;
          position: relative;
          left: 50px;
          bottom: 125px; } }
