header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 14px;

    .barra-navegacion {
        display: flex;
        width: 80%;
        flex-wrap: nowrap;
        list-style: none;
        margin: 5px;
        padding: 15px;
        overflow: hidden;
        gap: 1.25rem;
        background-color: rgba(175, 173, 170, 0.524);
        text-align: center;
        border: 1px solid black;
        border-radius: 10px;
        position: relative;
        left: 50px;
        top: .3125rem;
        justify-content: center;
        align-items: center;

        li {
            a {
                float: left;
                text-decoration: none;
                color: black;
                list-style-type: none;
                padding-inline-start: 10px;
                font-weight: bold;
                font-size: 24px;
            }
        }
    }
}

.header-nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 14px;
    background-color: rgb(144, 167, 199);
}