.main-usados {
    background-image: url(../assets/img/usado2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.573);

}


.ultimo-ingreso-usados {
    width: 31.25rem;
    height: auto;
    background-color: yellow;
    color: red;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    top: 150px;
    left: 170px;

    .usado-principal {
        width: 28.125rem;
        height: auto;
        border: 2px solid black;
        border-radius: 20px;
        position: relative;
    }

    .usado-min1 {
        width: 9.375rem;
        height: auto;
        border: 2px solid black;
        border-radius: 20px;
        position: relative;
    }

    .usado-min2 {
        width: 9.375rem;
        height: auto;
        border: 2px solid black;
        border-radius: 20px;
        position: relative;
    }

    .usado-min3 {
        width: 9.375rem;
        height: auto;
        border: 2px solid black;
        border-radius: 20px;
        position: relative;
    }
}

.otros-usados {
    width: 31.25rem;
    height: 34.375rem;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    left: 870px;
    bottom: 420px;
    background-color: aquamarine;
    text-align: center;

    .grid-usados {
        display: grid;
        margin: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 0.65fr);
        gap: 10px;

        .usado {
            overflow: hidden;
            border-radius: 30px;
            border: 2px solid black;
            align-items: center;
            object-fit: contain;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                align-items: center;
                display: block;

                &:hover {
                    opacity: 0.5;
                }
            }


        }
    }
}


.pie-index-usados {
    width: 100%;
    height: 15.625rem;
    position: relative;


    background-color: rgb(198, 13, 13);

    .pie-link {
        width: 40%;
        height: 13.75rem;
        position: relative;
        top: .9375rem;
        left: 1.25rem;
    }

    .datos-pie {
        position: relative;
        left: 56.25rem;
        bottom: 3.125rem;
        width: fit-content;

        p {
            color: rgb(17, 17, 155);
            border: black;
            position: relative;
            left: 9.375rem;
            bottom: 10rem;
            width: fit-content;
        }

        .dir {
            width: 40px;
            height: auto;
            position: relative;
            left: 3.125rem;
            bottom: 8.75rem;
        }

        .tel {
            width: 40px;
            height: auto;
            position: relative;
            left: 50px;
            bottom: 130px;
        }
    }

}