* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 14px;
}

h1,
h2,
h3,
a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
}

p {
    font-family: "Permanent Marker", cursive;
}

h1 {
    text-align: center;
}

.titulos {
    background-color: rgba(4, 21, 98, 80%);
    text-align: center;
    color: white;
    top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 1px solid black;
    border-radius: 20px;
    width: 150vh;
    position: relative;
    left: 25px;
    top: 90px;
}



footer {
    position: relative;
    bottom: 220px;
    width: 100%;
}

.barra-navegacion {
    position: relative;
    left: 750px;
}

.navbar-toggler {
    position: relative;
    right: 1100px;
}

.navbar-toggler-icon {
    position: relative;
    left: 0px;
}