@media (max-width:768px) {

    .header-nosotros {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .barra-navegacion {
        width: 95vw;
        position: relative;
        left: 5px;
        padding: 5px;
        padding-bottom: 10px;
        margin: 0;

        li {
            a {
                padding-inline-start: 20px;
                font-size: 18px;
            }
        }

        .titulos {
            width: 85vh;
            font-size: 18px;
            position: relative;
            right: 10px;
            margin-top: .3125rem;
        }
    }

    .marcas {
        width: 250px;
        position: relative;
        top: 70px;
        left: 150px;

        .renault {
            position: relative;
            right: 50px;
        }

    }



    .pie-index-contacto {
        position: relative;
        top: 200px;
    }

    .pie-index-0km {
        position: relative;
        top: 200px;

        .datos-pie {
            position: relative;
            left: 100px;
        }
    }

    .titulo-nosotros {
        width: 60vh;
    }

    .bio-empresa {
        width: 65vw;
        position: relative;
        left: 10px;
        padding: 0;
    }

    .datos-pie {
        position: relative;
        left: 200px;
    }

    .donde-encontrarnos {
        position: relative;
        top: 20px;
        left: 100px;
    }
}