@media (max-width:425px) {

    .navbar-toggler {
        position: relative;
        right: 330px;
    }


    /** media del index*/
    .general {
        background-image: url(../assets/img/local3.jpg);
        background-size: cover;

        .barra-navegacion {
            width: fit-content;
            height: 60px;
            position: relative;
            left: 0px;
            top: 0px;

            li {
                a {
                    display: none;
                }
            }
        }

        .section-principal {
            .logo {
                width: 40%;
                position: relative;
                top: 0;
                left: 320px;
            }

            .img-ultimo-ingreso {
                position: relative;
                top: 0;
                left: 270px;

            }

            .ultimo-ingreso {
                top: 10px;
            }
        }

        .boton-principal {
            position: relative;
            left: 0px;
            top: 400px;

            .km {
                position: relative;
                left: 80px;
            }

            .usados {
                position: relative;
                left: 80px;
            }

            .contacto {
                position: relative;
                left: 80px;
            }

            .nosotros {
                position: relative;
                left: 80px;
            }
        }

        footer {
            .pie-index {
                position: relative;
                top: 40px;

                .datos-pie {
                    position: relative;
                    left: 170px;

                    p {
                        position: relative;
                        left: 110px;
                        bottom: 20px;
                    }
                }
            }
        }
    }

    /** media de 0km*/

    .header-0km {
        .barra-navegacion {
            width: fit-content;
            height: 60px;
            position: relative;
            left: 0px;
            top: 0px;


            li {
                a {
                    display: none;
                }
            }
        }


    }

    .section-0km {
        .container-fluid {

            width: fit-content;

            .row {
                width: 80%;
                position: relative;
                left: 170px;
                top: 40px;
            }

            .col {
                width: 80%;

            }

            .carousel-inner {
                width: 85%;
            }
        }

        .marcas {
            position: relative;
            left: 90px;
            top: 100px;
        }
    }

    .pie-index-0km {
        position: relative;
        top: 300px;

        .datos-pie {
            position: relative;
            left: 170px;
            bottom: 0px;
            top: 0px;

            p {
                position: relative;
                left: 100px;
            }
        }
    }


    /**media de usados*/

    .header-usados {
        @extend .header-0km;

        .titulos {
            width: 100%;
            position: relative;
            left: 60px;

        }
    }


    .ultimo-ingreso-usados {
        width: 350px;
        position: relative;
        left: 50px;
        top: 90px;
        align-items: center;

        h2 {
            width: fit-content;
            position: relative;
            left: 90px;
        }

        .usado-principal {
            width: 275px;
        }

        .usado-min1 {
            width: 100px;
            position: relative;
            right: 10px;
        }

        .usado-min2 {
            width: 100px;
            position: relative;
            right: 5px;

        }

        .usado-min3 {
            width: 100px;
            position: relative;

        }
    }

    .otros-usados {
        position: relative;
        left: 10px;
        top: 100px;
    }

    .pie-index-usados {

        position: relative;
        top: 350px;

        .datos-pie {
            position: relative;
            left: 200px;

            p {
                position: relative;
                left: 100px;
            }
        }

    }

    /** media de contacto*/

    .header-contacto {
        @extend .header-0km;

        .titulos {
            width: 100%;
            position: relative;
            left: 60px;
        }
    }


    .main-contacto {

        .formulario {
            width: 90%;
            height: auto;
            position: relative;
            left: 10px;
        }

        .donde-encontrarnos {
            position: relative;
            left: 35px;
            top: 100px;
        }
    }

    .pie-index-contacto {
        width: 100%;
        position: relative;
        top: 450px;

        .datos-pie {
            position: relative;
            left: 200px;
            bottom: 50px;

            p {
                font-size: 12px;
                position: relative;
                left: 50px;
                bottom: 130px;

            }
        }

    }

    /**media de nosotros*/

    .header-nosotros {
        @extend .header-0km;

    }

    .main-nosotros {
        height: 100vh;

        .titulo-nosotros {
            position: relative;
            top: 0px;
        }

        div {
            width: 100%;
            position: relative;
            bottom: 0px;
            top: 70px;

            .titulo-nosotros {
                width: 90%;
                font-size: 20px;
            }

        }

        .bio-empresa {
            width: 85%;
            position: relative;
            top: 10px;

            p {
                width: 100%;
                font-size: 16px;
            }

        }
    }

    footer {
        position: relative;
        top: 0px;
        bottom: 0px;

        .pie-index-nosotros {
            position: relative;
            top: 0px;

            .datos-pie {
                position: relative;
                left: 230px;
                bottom: 50px;

                p {
                    font-size: 12px;
                    position: relative;
                    left: 50px;
                    bottom: 125px;

                }
            }
        }
    }
}